header{
    background-color: white;
    box-shadow: 0px 0px 2px 0 gray;
}

nav{
    display: flex;
    max-width: 1500px;
    margin: auto;
    padding: 1rem;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

nav > img{
    max-width: 250px;
}

.links{
    display: flex;
    justify-content: space-around;
    gap: min(3vw, 3rem);
    flex-wrap: wrap;
    align-items: center;
}

.links a{
    font-size: 1.3rem;
    text-transform: uppercase;
}

.links a:hover{
    opacity: 0.5;
}

.selected{
    color: var(--blue);
}

@media (max-width:875px) {
    nav{
        flex-direction: column;
    }
}